﻿@model Audi.Prelaunch.Cms.Controllers.BookingGetModel

<!DOCTYPE html>
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Audi Invoice</title>
    <link rel="stylesheet" href="@ViewBag.BaseUrl/Content/app/css/main.css">
</head>
<body>
    <div class="container">
        <!-- Invoice top area -->
        <div class="invoice-top">
            <div class="row">
                <!-- Invoice Title -->
                <div class="col-xs-10">
                    <div class="invoice-top__title" style="font-size:24px">
                        <strong>Audi Prelaunch </strong>
                    </div>
                </div>
                <!-- Audi Rings -->
                <div class="col-xs-2" align="right">
                    <div class="invoice-top__logo">
                        <img src="@ViewBag.BaseUrl/Content/app/images/logo.jpg" style="padding-top:-20px;  width: 80px">

                    </div>
                </div>
            </div>
        </div>
        <!-- End of Invoice top area -->
        <!-- Client details -->
        <div class="client-details">
            <div class="row">
                <div class="col-xs-3">
                    <div class="client-details__invoicenumber">
                        <h2>Tax Invoice</h2>
                    </div>
                </div>
                <div class="col-xs-4 push-xs-5">
                    <div class="client-details__recipient">
                        <div class="recipient-company">
                            Audi Australia Pty Ltd
                        </div>
                        <div class="recipient-abn">
                            ABN 86 077 092 776
                        </div>
                        <div class="recipient-address">
                            Audi Building<br />
                            Level 7, 895 South Dowling Street<br />
                            Zetland NSW 2017 Australia<br />
                            Telephone +61&nbsp;2&nbsp;9695&nbsp;6200<br />
                            Fascimile +61&nbsp;2&nbsp;9695&nbsp;6222<br />
                        </div>
                        <div class="recipient-email">
                            www.audi.com.au
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of client details -->
        <!-- Invoice Details -->
        <div class="invoice-details">
            <div class="row">
                <div class="invoice-details__row">
                    <span class="invoice-details__title">Invoice No.</span>
                    <span class="invoice-details__content">@Model.BookingId</span>
                </div>
            </div>
            <div class="row">
                <div class="invoice-details__row">
                    <span class="invoice-details__title">Date:</span>
                    <span class="invoice-details__content">@Model.CreateDate.ToString("dd/MM/yyyy")</span>
                </div>
            </div>
            <div class="row">
                <div class="invoice-details__row invoice-details--to">
                    <span class="invoice-details__title">To:</span>
                    <span class="invoice-details__content">@Model.FirstName @Model.LastName</span>
                </div>
            </div>
            <div class="row">
                <div class="invoice-details__row">
                    <span class="invoice-details__title"></span>
                    <span class="invoice-details__content">@Model.Email</span>
                </div>
            </div>
        </div>
        <!-- End of Invoice Details -->
        <!-- Invoice items -->
        <div class="invoice-items">
            <!-- Invoice Headings -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="invoice-items__headings">
                        Cost
                    </div>
                </div>
            </div>
            <!-- End of Invoice Headings -->
            <!-- Invoice Item -->
                <div class="invoice-item">
                    <div class="row">
                        <div class="col-xs-9">
                            <div class="invoice-item__name">
                                Audi Prelaunch
                            </div>
                            <div class="invoice-item__description">
                                Selected Options: <br />
                                Exterior Color: @Model.options.ExteriorColor <br />
                                Interior Color: @Model.options.InteriorColor <br />
                                Packages: @string.Join(", ", Model.options.Packages) <br />
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="invoice-item__price" style="padding-top:-14px">
                                <strong>@Model.TotalAmount.ToString("C2") <br />(incl. GST)</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Invoice Item -->
        </div>
        <!-- End of Invoice Items -->
        <!-- Invoice Totals -->
        <div class="invoice-total" style="padding-top:10px">
            <div class="row" style="padding-left: 70%">
                <div class="col-xs-9">
                    <div class="invoice-item__name">
                        Total:
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="invoice-item__price" style="padding-top: -14px">
                        <strong>@Model.TotalAmount.ToString("C2") <br />(incl. GST)</strong>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Invoice totals -->
    </div>
</body>
</html>