﻿<umb-panel ng-controller="Booking.OverviewController">
    <umb-header>
        <h1>List of Bookings</h1>
    </umb-header>

    <div class="umb-panel-body">
        <div class="umb-pane">

            <div class="umb-sub-header">

                <!--<div class="btn-group" ng-show="isAnythingSelected()">
                    <a class="btn btn-danger" ng-disabled="actionInProgress" ng-click="delete()" prevent-default="">
                        <localize key="actions_delete">Delete</localize>
                    </a>
                </div>-->

                <!--<form class="form-search pull-right ng-pristine ng-valid" novalidate="">
                    <div class="inner-addon left-addon">
                        <i class="icon icon-search"></i>
                        <input type="text" class="form-control ng-pristine ng-valid" value="Type to search..." localize="placeholder" placeholder="Type to search..." ng-model="searchFilter" prevent-enter-submit="" no-dirty-check="" ng-change="search(searchFilter)">
                    </div>
                </form>-->

            </div>

            <div class="span12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <!--<td style="width:35px"></td>-->
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('bookingId')">Booking Id</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'bookingId'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('bookingNumber')">Booking Number</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'bookingNumber'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('createDate')">CreateDate</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'createDate'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('status')">Status</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'status'"></i>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in bookings" ng-class="{selected: isRowSelected(p.bookingId)}">
                            <!--<td style="width: 35px">
                                <i class="icon icon-edit"></i>
                                <input type="checkbox" name="selectedItems[]" value="{{p.bookingId}}" ng-checked="isRowSelected(p.bookingId)" ng-click="toggleSelection(p.bookingId)" />
                            </td>-->
                            <td>
                                <label>{{p.bookingId}}</label>
                            </td>
                            <td>
                                <a href="/umbraco/#/custom/custom/edit/{{p.bookingNumber}}">{{p.bookingNumber}}</a>
                            </td>
                            <td>{{p.createDate}}</td>
                            <td>
                                <!--{{p.status}}-->
                                <label ng-model="p.status" ng-class="getStatusClass(p.status)" size="xs" color="success">{{p.status}}</label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot ng-show="totalPages > 1">
                        <tr>
                            <th colspan="5">
                                <div class="pagination pagination-right">
                                    <ul>
                                        <li ng-class="{disabled: currentPage == 1}">
                                            <a ng-click="prevPage()">Prev</a>
                                        </li>
                                        <li ng-repeat="i in getNumber(totalPages) track by $index" ng-click="setPage($index+1)"><span>{{$index+1}}</span></li>
                                        <li ng-class="{disabled: currentPage == totalPages}">
                                            <a ng-click="nextPage()">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</umb-panel>