﻿<form name="dealerForm"
      ng-controller="Booking.EditController"
      ng-show="loaded"
      ng-submit="save(booking)"
      ng-model="booking"
      val-form-manager>
    <umb-panel>
        <umb-header tabs="content.tabs">
            <div class="span7">
                <h1>{{booking.bookingNumber}}</h1>
                <!--<umb-content-name placeholder="@placeholders_entername" ng-disabled
                                  ng-model="booking.bookingNumber" disabled />-->
            </div>
        </umb-header>
        <umb-tab-view>
            <umb-tab id="tab1" rel="content">
                <div class="umb-pane">
                    <umb-control-group label="BookingId" description="Booking Id">
                        <label ng-model="booking.bookingId">{{booking.bookingId}}</label>
                    </umb-control-group>
                    <umb-control-group label="BookingNumber" description="Booking Number">
                        <label ng-model="booking.bookingNumber">{{booking.bookingNumber}}</label>
                    </umb-control-group>
                    <umb-control-group label="UserId" description="UserId">
                        <label ng-model="booking.userId">{{booking.userId}}</label>
                    </umb-control-group>
                    <umb-control-group label="FirstName" description="FirstName">
                        <label ng-model="booking.firstName">{{booking.firstName}}</label>
                    </umb-control-group>
                    <umb-control-group label="LastName" description="LastName">
                        <label ng-model="booking.lastName">{{booking.lastName}}</label>
                    </umb-control-group>
                    <umb-control-group label="Status" description="Status">
                        <label ng-model="booking.status" ng-class="getStatusClass(booking.status)" size="xs" color="success">{{booking.status}}</label>
                    </umb-control-group>
                    <umb-control-group label="CreateDate" description="CreateDate">
                        <label ng-model="booking.createDate">{{booking.createDate}}</label>
                    </umb-control-group>
                    <umb-control-group label="Invoice" description="Booking Invoice">
                        <a href="/1/service/invoice/{{booking.bookingNumber}}" target="_blank"><strong>Click her to View Invoice</strong></a>
                    </umb-control-group>
                    <div class="umb-tab-buttons" detect-fold>
                        <!--<div class="btn-group">
            <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                <localize key="buttons_save">Save</localize>
            </button>
        </div>-->
                        <div class="btn-group">
                            &nbsp; <a href="/umbraco/#/custom/custom/overviewBooking/all" class="btn btn-primary">Return to list</a>
                        </div>
                        <div class="btn-group">
                            &nbsp; <a class="btn btn-primary" onclick="cancelBooking(booking)">Cancel Booking</a>
                        </div>
                    </div>
                </div>
            </umb-tab>
            <!-- To do-->
            <!--<umb-tab id="tab2" rel="custom">
                <div class="umb-pane">
                    <div class="umb-tab-buttons" detect-fold>
                        <div class="btn-group">
                            <button type="submit" data-hotkey="ctrl+s" class="btn btn-success">
                                <localize key="buttons_save">Save</localize>
                            </button>
                        </div>
                    </div>
                </div>
            </umb-tab>-->
        </umb-tab-view>
</umb-panel>
</form>


