﻿<umb-panel ng-controller="Notification.OverviewController">
    <umb-header>
        <h1>List of Notifications</h1>
    </umb-header>

    <div class="umb-panel-body">
        <div class="umb-pane">

            <div class="umb-sub-header">

                <form class="form-search pull-right ng-pristine ng-valid" novalidate="">
                    <div class="inner-addon left-addon">
                        <i class="icon icon-search"></i>
                        <input type="text" class="form-control ng-pristine ng-valid" value="Type to search..." localize="placeholder" placeholder="Type to search..." ng-model="searchFilter" prevent-enter-submit="" no-dirty-check="" ng-change="search(searchFilter)">
                    </div>
                </form>

            </div>

            <div class="span12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('bookingNotificationId')">Id</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'bookingNotificationId'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('bookingId')">BookingId</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'bookingId'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('notificationCode')">Code</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'notificationCode'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('createDate')">CreateDate</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'createDate'"></i>
                            </td>
                            <td>
                                <a href="#" prevent-default class="sortable" ng-click="order('status')">Status</a>
                                <i class="icon" ng-class="{'icon-navigation-up': reverse, 'icon-navigation-down': !reverse}" ng-show="predicate == 'status'"></i>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="p in notifications" ng-class="{selected: isRowSelected(p.bookingNotificationId)}">
                            <td>
                                <label>{{p.bookingNotificationId}}</label>
                            </td>
                            <td>
                                <label>{{p.bookingId}}</label>
                            </td>
                            <td>
                                <label ng-model="p.status" ng-class="getNotificationCodeClass(p.notificationCode)" size="xs" color="success">{{p.notificationCode}}</label>
                            </td>
                            <td>{{p.createDate}}</td>
                            <td>
                                <label ng-model="p.status" ng-class="getNotificationStatusClass(p.status)" size="xs" color="success">{{p.status}}</label>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot ng-show="totalPages > 1">
                        <tr>
                            <th colspan="5">
                                <div class="pagination pagination-right">
                                    <ul>
                                        <li ng-class="{disabled: currentPage == 1}">
                                            <a ng-click="prevPage()">Prev</a>
                                        </li>
                                        <li ng-repeat="i in getNumber(totalPages) track by $index" ng-click="setPage($index+1)"><span>{{$index+1}}</span></li>
                                        <li ng-class="{disabled: currentPage == totalPages}">
                                            <a ng-click="nextPage()">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</umb-panel>