﻿<div ng-controller="PackagePickerController">

    <select name="dropDownList"
            class="umb-editor umb-dropdown"
            ng-model="model.value"
            ng-options="package.name for package in packages track by package.id">
    </select>
</div>