﻿<div ng-controller="DealerPickerController">

    <select name="dropDownList"
            class="umb-editor umb-dropdown"
            ng-model="model.value"
            ng-options="dealer.name for dealer in dealers track by dealer.id">
    </select>
</div>