﻿
.swagger-section #header {
  background-color: #e5eaee;
  padding: 14px;
}

.swagger-section #header a#logo {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  background: transparent url(/content/audi_logo.gif) no-repeat left center;
  padding: 40px 0 20px 240px;
  color: white;
}

.swagger-section .swagger-ui-wrap .info_title {
  padding-bottom: 10px;
  font-weight: normal;
  font-size: 20px;
}

.swagger-section .swagger-ui-wrap .info_description {
  border-bottom: 1px solid #ccc;  
  padding-bottom: 0;
  margin-bottom: 15px;
}

.swagger-section .swagger-ui-wrap .info_description p{
  color: #585858
}

.swagger-section #header form#api_selector .input a#explore {
  display: block;
  text-decoration: none;
  font-weight: bold;
  padding: 6px 8px;
  font-size: 0.9em;
  color: white;
  background-color: black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.swagger-section #header form#api_selector .input a#explore:hover {
  background-color: gray;
}

.footer {
    display: none;
}

.swagger-section #message-bar {
    min-height: 5px;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource:hover div.heading h2 a, .swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading h2 a {
    color: #585858;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource:hover div.heading ul.options li a, .swagger-section .swagger-ui-wrap ul#resources li.resource.active div.heading ul.options li a {
    color: #585858;
}

.param-title {
    font-size: 11px;
    padding-bottom:0!important;
} 

.param-title span {
    font-weight: normal;
    font-style: italic;
    padding-left: 5px;
} 

.param-description{
    font-size: 11px;
    font-weight: normal
} 

.param-description span {
    font-weight: normal;
    font-style: italic;
} 

.swagger-header-right {
    font-size: 12px; 
    font-weight: bold; 
    color: #585858; 
    float: right;
    padding-top: 5px;
    text-align: right;
}

.swagger-header-right span {
    font-weight: normal; 
}

.swagger-section .swagger-ui-wrap .model-signature pre {
    max-height: 560px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.swagger-section .swagger-ui-wrap .body-textarea {
    width: 250px;
    height: 200px;
}
